<html>
<head>
    <link rel="stylesheet" href="/bundles/sonatacore/vendor/bootstrap/dist/css/bootstrap.min.css">
    <style>
        .table,
        .table td,
        .table th {
            white-space: nowrap;
            width: 1%;
        }
    </style>
</head>
<body>
    <table class="table table-bordered table-condensed table-responsive">
        <thead>
            <tr>
                <th>Nume</th>
                <th>Tip</th>
                <th>Suma</th>
            </tr>
        </thead>
        <tbody>
            {% for data in report %}
            <tr >
                <td>{{ data['employee'] }}</td>
                <td>{{ data['type'] }}</td>
                <td>{{ data['amount'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
