<a href="{{ admin.generateObjectUrl('generate', object) }}" class="btn btn-sm btn-default view_link" title="Generate files">
    <i class="fa fa-download" aria-hidden="true"></i>
    Generate files
</a>