# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     postgres
    database_port:     ~
    database_name:     tmtools
    database_user:     tmtoolsuser
    database_password: tmtoolspass

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            123kmde94jfsdlfk3r9fs;dfk@(@*YGE&G!!@#!#EDqWE

    travel_allowance: 32.5

    # Travis CI
    travis_database_host: "127.0.0.1"
    travis_database_port: "3306"
    travis_database_dbname: "tmtools"
    travis_database_user: "travis"
    travis_database_password: ""


